<div id="hp-slideshow">
  <h1>Never Miss What Matters</h1>
  <div id="headline_title">You're missing people, emails and social posts that matter in your life. Let us help you.
</div>


<div id="hp-reg">
        <div id="fb-reg">
            <div id="green_bullets">
                <img class="home-infopic-1" src=<%= asset_path "homepage_bullets_01.jpg" %> width="253" height="231">
                <div id="oneClickDiv"></div>
                <div id="newClickDiv">
                    <a href="javascript:void(0)" id="newClickLink"><img src=<%= asset_path "transparent.gif" %> width="205" height="47"/></a>
                </div>
                <div id="facebook_note">We will never post anything to your account.</div>
                <div id="or"><span>OR</span></div>
                <div id="click_here"><a href="#" id="openReg">Create a free MyLife account</a></div>
                <div id="reg-privacy" class="form-small-print">
                    By clicking on the "Sign In with Facebook" button you agree to our
                    <a href="user-agreement" target="_blank">User Agreement</a> &amp;
                    <a href="privacy-policy" target="_blank">Privacy Policy</a>.
                </div>
            </div>
        </div>
    </div>
</div>

<%= link_to "fancy",show_path, :class=>"fancybox",:remote=>true%>
<div id="show_fancybox"></div>